@font-face{
    font-family: "Raleway"; 
    /*src: url("../fonts/Releway/static/Raleway-Light.ttf");*/
    src: url("../fonts/raleway-variablefont_wght.ttf") format("truetype"); 
}

@font-face{
    font-family: "Raleway-ExtraBold"; 
    /*src: url("../fonts/Releway/static/Raleway-Light.ttf");*/
    src: url("../fonts/raleway-extrabold.ttf") format("truetype"); 
}

@font-face{
    font-family: "Raleway-SemiBold"; 
    /*src: url("../fonts/Releway/static/Raleway-Light.ttf");*/
    src: url("../fonts/raleway-semibold.ttf") format("truetype"); 
}

@font-face{
    font-family: "Montserrat"; 
    src: url("../fonts/montserrat-regular.ttf") format("truetype"); 
}
.container {
    width: 1920px;
}

.page-header {
    width: 1920px;
    min-height: 1024px;
    background-image: url(../img/backgrheader.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;

    position: relative;
    z-index: 3;
}

.page-header-div {
    position: relative;
    z-index: 3;
    color: #fff;
    text-align: center;
    padding: 50px;
    justify-content: center;
}

header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 2;
    float: left;
}

.logo {
    width: 180px;
    margin-left: 376px;
    /* height: ; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: capitalize;
    position: absolute;
    clear: both;
}

.logo-icon {
    fill: white;
}

.logo-txt {
    font-size: 34px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

.header-logo {
    margin: 30px 20px 0 0;
    fill: #ffffff;
}

.head-ref-item {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
    margin: 0 20px 0 0;
}

.head-ref-item-last {
    margin-right: 60px;
}

.head-references {
    margin-top: 10px;
    padding-left: 220px;
}

.head-ref-item:hover {
    color: #c7b299;
}

.slider-arrow-right {
    border: 1px solid black;
    display: block;
    width: 60px;
    height: 60px;
    margin: 30px;
    border: none;
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    transform: rotate(45deg);
    float: left;
}


.slider-arrow-left {
    display: block;
    width: 60px;
    height: 60px;
    margin: 30px;
    border: none;
    border-top: 3px solid #d3c1ad;
    border-right: 3px solid #d3c1ad;
    transform: rotate(45deg);
    float: left;
}

.header-middle {
    width: 1920px;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 381px;
    left: 150px;
}

.header-text {
    float: left;
    text-align: center;
    margin: 0 400px;

}


.btn-link {
    width: 170px;
    height: 53px;
    border-radius: 5px;
    padding: 21px 39px 21px 37px;

    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #736357;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #998675;

    -ms-word-break: break-all;
    word-break: break-all;
}

.btn-link-txt {
    color: #fff;
    font-family: "Raleway-ExtraBold";
    font-size: 16px;
    font-weight: 400;
}

.header-text-h1 {
    width: 589px;
    height: 50px;
    color: #ffffff;
    font-family: "Raleway-ExtraBold";
    font-size: 52px;
    font-weight: 400;
    margin: 14px 0 19px 0;

}

.header-text-h2 {
    width: 560px;
    height: 34px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 0 0;
}

.header-text-p {
    width: 562px;
    height: 39px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 100;
    margin: 0 0 82px 0;
}


.pagination {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 42px;
    left: 909px;
}

.pagination-item {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid transparent;
}


.pagination-item:hover {
    background-color: transparent;
    border: 3px solid #ffdab9;
    transform: scale(1.2);
}



/*Section-feaures*/

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 266px;
    height: 225px;
    margin: 80px 30px 60px 0px;

    box-sizing: border-box;
    /* border: 1px solid black;
     padding: 10px 10px 0 10px;*/
}

.features:after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #f1eee9;
}

.features:hover .features-icon {
    fill: #c7b299;
}

.features:hover .features-title {
    color: #c7b299;
}

.features:hover:after {
    background-color: #c7b299;
}

.features-icon {
    display: block;
    fill: #555555;
    margin: 0 0 20px 0;
}

.features-title {
    width: 100%;
    height: 21px;
    font-family: "Raleway-SemiBold";
    color: #555555;
    font-size: 22px;
    font-weight: 400;
    margin: 0 0 10px 0;
    text-align: center;
}

.features-txt {
    text-align: center;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
}


.section-feaures {
    display: flex;
    justify-content: center;
    min-height: 370px;
    border: 1px solid black;
    width: 100%;
}
